{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>View List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'items/css/style.css' %}">

    </head>
    <body>
    {% if user.is_authenticated %}
        <div class="container mt-5">
            <!-- top -->
            <div class="row">
                <div class="col-lg-6">
                    <a href="{% url 'allItems' %}"><h1>View Grocery List</h1></a>
                </div>
                <div class="col-lg-6 float-right">
                <form method="GET" action="{% url 'filterItems' %}">
                    <div class="row">
                        <div class="col-lg-8">
                            <!-- Date Filtering-->
                            <input type="date" id="datevalue" name="date" class="form-control">
                        </div>
                        <div class="col-lg-4">
                            <input type="submit" id='filterdate' class="btn btn-danger" value="filter">
                        </div>
                    </div>
                </form>
                </div>
            </div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-4"><h4 class="align-left"><a href="{% url 'addPage' %}">Add items</a></h4></div>
                    <div class="col-lg-4 text-center"><a href="{% url 'allItems' %}"><h4>View All Items</h4></a></div>
                    <div class="col-lg-4 text-right"><a href="/user/logout" class="align-right"><button>LOGOUT</button></a></div>
                </div>
            </div>
            <!-- // top -->
            <!-- Grocery Cards -->
            <div class="row mt-4" id='main'>
                <!--- -->
                <!-- Loop This -->
                {% for item in items %}
                <div class="col-lg-4 mt-5 id-{{item.id}}">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{item.ItemName}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{item.ItemQuantity}}</h6>
                          <p class="text-success">{{item.ItemStatus}}</p>
                        <div class="row">
                        <div class="col col-sm-6">
                            <div class="delete-edit">
                           <button  data-sid="{{item.id}}" class="border-0 btn-transition btn btn-outline-danger DeleteButton"> 
                               <i class="fa fa-trash" style='font-size:22px'></i> </button>
                            </div>
                        </div>
                         <div class="col col-sm-6">
                           <a href="{% url 'updatepage' pk=item.id %}"><button class="border-0 btn-transition btn btn-outline-success"> 
                               <i class="fa fa-edit" style='font-size:22px'></i>
                           </button></a>
                        </div>
                        </div>
                        </div>
                      </div>
                </div>
                {% endfor %}
                <!-- // Loop -->

            </div>
        </div>
        <script src="{% static 'items/js/jquery.js' %}"></script>
        <script src="{% static 'items/js/bootstrap.js' %}"></script>
        <script src="{% static 'items/js/popper.js' %}"></script>

        <script>
            $(".delete-edit").on("click", ".DeleteButton", function(){
            let id = $(this).attr("data-sid");
            mydata = {sid : id};
            display = ""
            $.ajax({                    
                    url: "{% url 'deleteItems' %}",     
                    type: 'GET', // performing a POST request
                    data : mydata,
                    dataType: 'json',                   
                    success: function(response)         
                    {
                        output = response.id
                        // for(i=0 ; i < output.length ;i++ )
                        // {
                        //     display = display + "<div class='col-lg-4 mt-5'><div class='card'><div class='card-body'><h5 class='card-title'>"+output[i].ItemName+"</h5><h6 class='card-subtitle mb-2 text-muted'>" + output[i].ItemQuantity+"</h6><p class='text-success'>"+output[i].ItemStatus+"</p><div class='row'><div class='col col-sm-6'><div class='delete-edit'><button  data-sid='" + output[i].id +  "' class='border-0 btn-transition btn btn-outline-danger DeleteButton'><i class='fa fa-trash' style='font-size:22px'></i> </button></div></div><div class='col col-sm-6'><button class='border-0 btn-transition btn btn-outline-success'><i class='fa fa-edit' style='font-size:22px'></i></button></div></div></div></div></div>";
                        // } 
                        // console.log(display);

                        // $("#main").html(display);  
                        console.log(output)  
                        $(".id-"+id+"").remove();              
                    } 
                });
        });

        // $("#filterdate").click(function(){
        //     var date = $("#datevalue").val()
        //     display = ""
        //     $.ajax({                    
        //             url: "{% url 'filterItems' %}",     
        //             type: 'GET', // performing a POST request
        //             data : {'date':date},
        //             dataType: 'json',                   
        //             success: function(response)         
        //             {
        //                 output = response.items;
        //                 for(let i=0; i < output.length; i++)
        //                 {
        //                     display = display + "<div class='col-lg-4 mt-5'><div class='card'><div class='card-body'><h5 class='card-title'>"+output[i].ItemName+"</h5><h6 class='card-subtitle mb-2 text-muted'>" + output[i].ItemQuantity+"</h6><p class='text-success'>"+output[i].ItemStatus+"</p><div class='row'><div class='col col-sm-6'><div class='delete-edit'><button data-sid='" + output[i].id +  "' class='border-0 btn-transition btn btn-outline-danger DeleteButton'><i class='fa fa-trash' style='font-size:22px'></i></button></div></div><div class='col col-sm-6'><a href='updates/" + output[i].id + "'><button class='border-0 btn-transition btn btn-outline-success'><i class='fa fa-edit' style='font-size:22px'></i></button></a></div></div></div></div></div>";
        //                 }
        //                 //$("#main").html('');
        //                 //console.log(display);
        //                 $("#main").innerHTML = display;
                
                                  
        //             } 
        //         });
        // })
        </script>
        {% else %}
        <div class='container mt-5 text-center'>
            <h4><p>You are not Logged in</p></h4>
            <p>If you want to see your Grocery list Login <a href="/user/login">Here</a></p>
        </div>
        {% endif %}
    </body>
</html>
